@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Ubuntu', sans-serif;

}

body{

    background:#0f172a;
    color:white;

}

.topo{

    height:80px;
    display:flex;
    align-items:center;
    gap:30px;
    padding:0 40px;
    background:#101827;
    border-bottom:1px solid #1f2937;

}

.topo h1{

    font-size:25px;

}

.btn-voltar{

    background:#2563eb;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none;
    font-weight:500;
    transition:.3s;

}

.btn-voltar:hover{

    background:#1d4ed8;

}

.container{

    display:flex;
    justify-content:center;
    padding:40px;

}

.card-banner{

    width:700px;
    background:#101827;
    padding:30px;
    border-radius:15px;
    border:1px solid #1f2937;

}

.card-banner h2{

    margin-bottom:25px;

}

.campo{

    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom:20px;

}

label{

    font-size:15px;
    color:#cbd5e1;

}

input,
textarea,
select{

    width:100%;
    background:#1e293b;
    border:1px solid #334155;
    color:white;
    padding:12px;
    border-radius:8px;
    font-size:15px;
    outline:none;
    transition:.3s;

}

input:focus,
textarea:focus,
select:focus{

    border-color:#2563eb;

}

textarea{

    height:100px;
    resize:none;

}

.linha{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;

}

.preview{

    width:100%;
    height:220px;
    background:#1e293b;
    border:2px dashed #334155;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content:center;

}

.preview img,
.preview video{

    width:100%;
    height:100%;
    object-fit:cover;
    display:block;

}

input[type="file"]{

    cursor:pointer;
    padding:10px;

}

input[type="file"]::file-selector-button{

    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    margin-right:15px;
    font-weight:bold;
    transition:.3s;

}

input[type="file"]::file-selector-button:hover{

    background:#1d4ed8;

}

.btn-salvar{

    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;

}

.btn-salvar:hover{

    background:#1d4ed8;

}

@media(max-width:768px){

    .container{

        padding:20px;

    }

    .card-banner{

        width:100%;

    }

    .linha{

        grid-template-columns:1fr;

    }

    .topo{

        padding:20px;
        gap:15px;
        flex-wrap:wrap;
        height:auto;

    }

    .topo h1{

        font-size:22px;

    }

}