*{

    margin:0;
    padding:0;

    box-sizing:border-box;

    font-family:Ubuntu, Arial, sans-serif;

}



body{

    background:#0f172a;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



/*====================================
=          MENU HOME LOJISTA
====================================*/

.menu-loja{

    width:320px;

    background:#101827;

    border:1px solid #1f2937;

    border-radius:18px;

    padding:30px 20px;

}





/*====================================
=             TITULO
====================================*/


.menu-loja h1{

    color:white;

    text-align:center;

    font-size:30px;

    margin-bottom:40px;

}





/*====================================
=              NAVEGAÇÃO
====================================*/


nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}





/*====================================
=              ITENS MENU
====================================*/


.item-menu{

    height:60px;

    display:flex;

    align-items:center;

    gap:18px;

    padding:0 25px;

    text-decoration:none;

    color:#e5e7eb;

    border-radius:12px;

    font-size:18px;

    transition:0.3s;

}





.item-menu span{

    width:30px;

    font-size:22px;

}





.item-menu p{

    margin:0;

}





/*====================================
=              HOVER
====================================*/


.item-menu:hover{

    background:#1e293b;

}





/*====================================
=              ITEM ATIVO
====================================*/


.item-menu.ativo{

    background:#1f293b;

    border-left:4px solid #2563eb;

}





.item-menu.ativo p{

    color:white;

    font-weight:500;

}