/* ==========================
   RESET
========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body{
    background: #0f172a;
    color: #ffffff;
}

/* ==========================
   MENU LATERAL
========================== */

.menu-loja{

    position: fixed;

    left: 0;
    top: 0;

    width: 270px;
    height: 100vh;

    background: #101827;

    border-right: 1px solid #1f2937;

    padding: 30px 20px;

}

.menu-loja h1{

    text-align: center;

    color: #4f6fff;

    font-size: 30px;

    margin-bottom: 40px;

}

.menu-loja nav{

    display: flex;

    flex-direction: column;

    gap: 12px;

}

.item-menu{

    display: flex;

    align-items: center;

    gap: 15px;

    text-decoration: none;

    color: #ffffff;

    padding: 15px;

    border-radius: 12px;

    transition: .3s;

}

.item-menu span{

    font-size: 25px;

}

.item-menu p{

    font-size: 17px;

}

.item-menu:hover{

    background: #1e293b;

    border-left: 4px solid #2563eb;

    padding-left: 11px;

}

.item-menu.ativo{

    background: #1e293b;

    border-left: 4px solid #2563eb;

    padding-left: 11px;

}

/* ==========================
   CONTEÚDO
========================== */

.conteudo{

    margin-left: 270px;

    padding: 40px;

    min-height: 100vh;

}

.topo{

    margin-bottom: 35px;

}

.topo h1{

    font-size: 40px;

    margin-bottom: 10px;

}

.topo p{

    font-size: 18px;

    color: #94a3b8;

}

/* ==========================
   CARDS
========================== */

.cards{

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));

    gap: 25px;

}

.card{

    text-decoration: none;

    color: #ffffff;

    background: #1e293b;

    border: 1px solid #334155;

    border-radius: 18px;

    padding: 30px;

    transition: .3s;

}

.card:hover{

    transform: translateY(-8px);

    border-color: #2563eb;

    box-shadow: 0 15px 30px rgba(37,99,235,.25);

}

.icone{

    width: 75px;

    height: 75px;

    border-radius: 50%;

    background: linear-gradient(135deg,#2563eb,#4f6fff);

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 34px;

    margin-bottom: 20px;

}

.card h2{

    margin-bottom: 12px;

    font-size: 25px;

}

.card p{

    color: #cbd5e1;

    line-height: 25px;

    font-size: 16px;

}

.destaque{

    border: 2px solid #2563eb;

}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:900px){

    .menu-loja{

        position: relative;

        width: 100%;

        height: auto;

    }

    .conteudo{

        margin-left: 0;

        padding: 25px;

    }

    .cards{

        grid-template-columns: 1fr;

    }

    .topo h1{

        font-size: 30px;

    }

}