    /*COLOCANDO COR DE FUNDO NO CABEÇALHO*/
    header {
        background-color: #293142;
        font-family: "Ubuntu", sans-serif;
        color: #cfcfcf;
        border-color: #576270;
        border-width: 1px;
        border-style: solid;

    }

    nav a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 45px;
        font-family: "Ubuntu", sans-serif;
        font-size: 30px;


    }

    nav {
        text-align: center;
        background-color: #02153D;
        height: 50px;
        width: auto;
        align-items: center;
        display: flex;
        justify-content: center;
        border-color: #5f5e61;
        border-width: 1px;
        border-style: solid;
    }


    .logo img {
        height: 100px;
        width: 100px;
        margin-left: 70px;
    }

    /*configurando caixa de pesquisa*/
    .caixa-pesquisa input {
        padding: 7px;
        border: 1px solid #576270;
        border-radius: 5px;
        /*arredondamento das bordas do campo de pesquisa*/
        font-family: "Ubuntu", sans-serif;
        /*fonte do campo de pesquisa*/
        width: 400px;
        /*altura do campo de pesquisa*/
        color: #576270;
    }

    /*configurando a div de pesquisa*/
    .caixa-pesquisa {
        display: flex;
        /*exibe os elememtos em linhas*/
        justify-content: center;
        /*alinhamento horizontal dos elementos*/
        margin-top: 30px;
        /*margem superior da caixa de pesquisa*/
        margin-bottom: 30px;
        /*margem inferior da caixa de pesquisa*/

    }

    /*alinhar as divs do cabeçalho*/
    .topo {
        display: flex;
        /*exibe os elementos em linha*/
        align-items: center;
        /*alinhamento vertical dos elementos*/
        justify-content: space-between;
        /*distribuição dos elementos com espaço entre eles*/
        padding: 10px;
        /*distância entre as bordas do cabeçalho*/

    }

    /*configurando os icones*/
    .icones a img {
        height: 30px;
        width: 30px;
        margin-right: 20px;
        grid-row: 1 / 3;
        /*agrupa as duas linhas da grade para alinhar os icones verticalmente*/

    }

    /*configurando o texto do icone de usuário*/

    .icones a small {
        font-size: 15px;
        display: block;
        color: #ffffff;
        text-decoration: none;
        grid-column: 2;
        grid-row: 1;
        margin: 0;
    }

    .icones a {
        text-decoration: none;
        display: grid;
        grid-template-columns: 35px auto;
        grid-template-rows: auto auto;
        grid-column: 2;
        grid-row: 2;
        margin: 0;

        margin: 30px;
    }

    /*configurando a div icones*/
    .icones {
        display: flex;
        /*exibe os elementos em linha*/
        align-items: center;
        /*alinhamento vertical dos elementos*/
        gap: 30px;
        /*distância dos elementos*/

    }

    /* conifgurando a area do banner*/
    .imagens-banner img {
        max-width: 100%;
        /*largura do banner*/

    }

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .imagens-banner {
        width: 100%;
        /*LARGURA DA DIV DO BANNER */
        position: relative;
        /*POSIÇÃO RELATIVA PARA POSICIONAR OS BOTÕES DO BANNER */
    }

    .btn-anterior {
        position: absolute;
        top: 40%;
        left: 2%;
        background-color: #FFFFFF;
        color: #576270;
        border-radius: 50%;
        border: none;
        padding: 10px;

        
    }

    .btn-proximo {
        position: absolute;
        top: 40%;
        left: 93%;
        background-color: #FFFFFF;
        color: #576270;
        border-radius: 50%;
        border: none;
        padding: 10px;

    }
.btn-anterior img,.btn-proximo img{
    width: 30px;
    height: 30px;
}


    
    .btn-anterior:hover,
    .btn-proximo:hover {
        background-color: #576270;
        /*COR DE FUNDO DOS BOTÕES ANTERIOR E PRÓXIMO AO PASSAR O MOUSE POR CIMA*/
        color: #FFFFFF;
        /*COR DO TEXTO DOS BOTÕES ANTERIOR E PRÓXIMO AO PASSAR O MOUSE POR CIMA*/
    }

    /*Configurando area de ofertas*/
    .Ofertas {
        padding: 20px;
        /*DISTANCIA ENTRE O CONTEUDO DA DIV DE OFERTAS E AS BORDAS DA DIV */

    }

    /*configurando os textos das ofertas*/
    .titulo-ofertas {
        font-family: Ubuntu;
        /*Fonte dos título de ofertas*/
        display: grid;
        /*exibe os elementos em grade*/
        grid-template-columns: 2 80% 20%;
        /*define o tamanho das colunas*/
        grid-template-rows: 2 50% 50%;
        /*define o tamanho das linhas*/

    }

    .titulo-ofertas h2 {
        color: #576270;
        /*cor do titulo de ofertas*/
        font-size: 24px;
        /*tamanho da fonte do titulo de ofertas*/
        grid-column: 1;
        /*alinhamento do titulo de ofertas*/
        grid-row: 1;
        /*alinhamento do titulo de ofertas*/
        margin: 0;
        /*remove a margem do titulo de ofertas*/

    }

    .titulo-ofertas p {
        color: rgb(155, 24, 231);
        /*cor do subtitulo das ofertas*/
        font-size: 14px;
        /*tamanho da fonte*/
        grid-column: 1;
        /*ocupa a pr*/
        grid-row: 2;
        /**/
        margin: 0;

    }

    .titulo-ofertas a {
        text-decoration: none;
        /*remove o sublinhado do link de ver mais ofertas*/
        color: #576270;
        /*cor do link de ver mais ofertas*/
        font-size: 14px;
        /*cor do link de ver mais ofertas*/
        grid-column: 2;
        /*alinhamento do link de ver mais ofertas*/
        grid-row: 2;
        /*alinhamento do link de ver mais ofertas*/
        align-self: center;
        /*alinhamento vertical do link de ver mais ofertas*/
        padding-left: 85%;
        /*alinhamento do link de ver mais ofertas*/

    }

    .lista-produtos {
        display: flex;
        /*exibe os elementos em linha*/
        justify-content: space-between;
        /*alinhamento horizontal dos produtos*/
        font-family: Ubuntu;
        /*fonte da lista de produtos*/
        margin-top: 20px;
        /*distancia entre a lista de produtos e o titulo de ofertas*/

    }

    .card-produtos {
        max-width: 250px;
        width: 70%;
        /*definindo o tamanho do card de produtos*/
        background: #00063d;
        /*cor de fundo do card de produtos*/
        border: 3px solid #00063d;
        /*cor da borda do card de produtos*/
        border-radius: 8%;
        /*arredondamento das bordas do card de produtos*/
        padding: 5px;
        /*distancia entre o conteudo do card e as bordas do card*/
        text-align: center;
        /*alinhamento do texto no centro do card*/

    }

    .card-produtos img {
        width: 100%;
        /*ajusta a imagem para preencher a largura do card*/
        height: auto;
        /*ajusta a imagem para preencher a largura do card mantendo a proporção*/
        margin-bottom: 10px;
        /*distancia entre a imagem e o texto do produto*/
        border-radius: 8%;
        /*arredondamento das bordas da imagem do produto*/
       
    }
    .imagem-botao{
      position: relative;/*posição relativa para posicionar o ícone de favorito em relação ao card de produtos*/

    }
    .favorito{
        position:absolute;/*posição absoluta para posicionar o ícone de favorito em relação ao card de produtos*/
        border: none;/*remove a borda do ícone de favorito*/
        border-radius: 50%;/*arredondamento das bordas do ícone de favorito*/
        background-color: #ffffff;/*cor de fundo do ícone de favorito*/
        top: 10px;/*posição do ícone de favorito em relação ao card de produtos*/
        right: 10px;/*posição do ícone de favorito em relação ao card de produtos*/
        padding: 10px;/*distancia entre o ícone de favorito e as bordas do ícone de favorito*/




    }
    /*configurando o nome do produto*/
    .card-produtos h3 {
        font-size: 16px;
        /*tamanho da fonte do nome do produto*/
        font-family: Ubuntu; /*fonte do nome do produto*/
        color: #ffffff;/*cor do nome do produto*/
        
    }
    /*configurando o preço do produto*/

/*configurando o botão de adicionar ao carrinho*/
    .card-produtos button{
        background-color: transparent;/*cor de fundo do botão de adicionar ao carrinho*/
        border-radius: 50px;/*arredondamento das bordas do botão de adicionar ao carrinho*/
        border: none;/*remove a borda do botão de adicionar ao carrinho*/
        width: 40px;/*ajusta o botão para preencher a largura do card de produtos*/
        height: 50px;/*ajusta a altura do botão de adicionar ao carrinho*/
       margin-left: 50%;/*alinhamento do botão de adicionar ao carrinho*/

    }

.btn-adicionar img{
    width: 30px;/*ajusta a imagem para preencher a largura do botão de adicionar ao carrinho*/
    padding-top: 5px;/*distancia entre a imagem e as bordas do botão de adicionar ao carrinho*/

}

.precos{
    display: grid;
    grid-template-columns: 2; /*duas colunas*/
    grid-template-rows: 1;/*uma linha*/
    align-items: center;/*alinhamento vertical do preço antigo*/

}
.p-antigo{
    grid-column: 1;/*alinhamento do preço antigo*/
    grid-row: 1;/*alinhamento do preço antigo*/
    text-decoration: line-through;/*risca o preço antigo*/
    font-size: 15px;/*tamanho da fonte do preço antigo*/
    color: #fa1414;/*cor do preço antigo*/
    
}
.p-promocional{
    grid-column: 2;/*alinhamento do preço atual*/
    grid-row: 1;/*alinhamento do preço atual*/
    font-weight: bold;/*negrito do preço atual*/
    color: #ffffff;/*cor do preço atual*/
    font-size: 20px;
    text-align: left;/*alinhamento do preço atual*/
    
}

 .btn-card{
    display:flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos do botão de adicionar ao carrinho*/
    gap: 20px; /*distancia entre a imagem e o nome do produto no botão de adicionar ao carrinho*/

}
.btn-card img{

    width: 24px;/*ajusta a imagem para preencher a largura do botão de adicionar ao carrinho*/

}

.btn-card h5{
    font-size: 14px;/*tamanho da fonte do nome do produto*/
    color: #ffffff;/*cor do nome do produto*/

}

footer{
    background-color: #293142;/*cor de fundo do rodapé*/
    color: #ffffff;/*cor do texto do rodapé*/
    font-family: Ubuntu;/*fonte do texto do rodapé*/
    padding: 10px;/*distancia entre o conteúdo do rodapé e as bordas do rodapé*/

}

.superior{
display: flex; /*exibe os elementos em linha*/
gap: 10px; /*distancia entre os elementos do rodapé*/
justify-content: space-between; /*define tamanho igual entre as divs*/
flex-wrap: wrap; /*permite que as divs do rodapé se ajustem em telas menores*/

}

.coluna1,.coluna2,.coluna3,.coluna4{
    flex: 1; /*cada coluna ocupa um espaço na página*/
    
}

.superior h2{
    font-size: 30px; /*tamanho da fonte dos títulos das colunas do rodapé*/
    font-weight: bold; /*negrito dos títulos das colunas do rodapé*/

}

.coluna3 img{
    width: 120px; /*ajusta a imagem do logo da empresa no rodapé*/
    height: auto; /*ajusta a altura da imagem do logo da empresa no rodapé mantendo a proporção*/
    margin-top: 20px; /*distancia entre a imagem do logo da empresa e os títulos das colunas do rodapé*/
    padding-left: 90px;

}


.superior p{
font-size: 20px; /*tamanho da fonte do copyright no rodapé*/

}

.superior a{
    text-decoration: none; /*remove o sublinhado dos links do rodapé*/
    color: #ffffff; /*cor dos links do rodapé*/
    font-size: 20px; /*tamanho da fonte dos links do rodapé*/

}

.superior ul{
    text-decoration: none; /*remove o sublinhado dos itens da lista do rodapé*/
    list-style: none; /*remove os marcadores da lista do rodapé*/
    padding: 0; /*remove a margem da lista do rodapé*/





}
.coluna1{
padding-top: 55px; /*distancia entre a lista do rodapé e os títulos das colunas do rodapé*/
 padding-left: 60px;
 width: 30px; /*Definir tamanho dos icones*/
}

.coluna2{
padding-top: 50px; /*distancia entre a lista do rodapé e os títulos das colunas do rodapé*/
}

.coluna3{
padding-top: 30px; /*distancia entre a lista do rodapé e os títulos das colunas do rodapé*/
width: 25px; /*ajusta a largura da coluna do logo da empresa no rodapé*/

}

.coluna4{
padding-top: 70px; /*distancia entre a lista do rodapé e os títulos das colunas do rodapé*/
padding-right: 50px;
}

.coluna4 a{
    display: flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos do link de endereço no rodapé*/
}






